<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>脂肪吸引術後下着 - 美容外科クリニックでも導入されている安心の術後圧迫下着です</title>
  <meta name="description" content="術後下着専門会社、Eternalが販売する脂肪吸引（太ももお尻・膝・二の腕・肩・背中など）術後圧迫下着。" />
  <meta name="keywords" content="術後下着,脂肪吸引,圧迫下着" />
  {{ content_for_header }}
  <link href="https://cdn.shopify.com/s/files/1/0906/1964/2159/files/main.css?v=1740906598" rel="stylesheet" type="text/css" />
</head>
<body onload="MM_preloadImages('https://cdn.shopify.com/s/files/1/0906/1964/2159/files/konyu-botton-o.jpg','https://cdn.shopify.com/s/files/1/0906/1964/2159/files/staff-toiawase-o.jpg')">
  {{ content_for_layout }}
</body>

</html>
